{
  "extends": ["airbnb", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "max-len": 0,
    "indent" : ["error", 4, { "ignoredNodes": ["JSXElement *"] }],
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "react/jsx-indent": ["error", 4, { "props": 4 }]
  },
  "globals": {
    "window": true,
    "navigator": true,
    "document": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
